<!DOCTYPE html>

<html>

	<head>
		<link href = "../stylesheets/style.css" rel = "stylesheet"/>
		<link href = "../stylesheets/popup_stylesheet.css" rel = "stylesheet"/>
		<link href = "../stylesheets/bootstrap.css" rel = "stylesheet"/>
	</head>

	<body>
		<div class = "text-center">
			<h1 class = "display-1"  id = "top_spacing">Savings Goals</h1>
		</div>
		<div class = "trips">
			{{#each savings}}
			{{#if savings_goal}}<p>Goal:{{savings_goal}}Cost:{{cost}}Deadline:{{deadline}}</p>{{/if}}
			{{/each}}
		</div>
		<button type = "button" id = "add-goal" class="open-button" onclick="openForm()"> Add Goal</button>

		<div class="form-popup" id="myForm">
		  <form  class="form-container" action = "/savings/addGoal" method = "post">

		    <label for="new_goal"><b>Name of New Goal</b></label>
		    <input type="text" placeholder="Enter New Goal" name="new_goal" required>

		    <label for="cost"><b>Cost</b></label>
		    <input type="text" placeholder="Enter Cost" name="cost" required>

		    <label for="deadline"><b>deadline</b></label>
		    <input type="text" placeholder="Enter Deadline" name="deadline" required>

		    <button type="submit" class="btn">Add Goal</button>
		    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
		  </form>
		</div>
		<div class = "button">
			<a href = "../users/home" class = "btn btn-primary btn-xl" id = "home_button" role = "button">Home</a>
			<a href = "../wages/wages" class = "btn btn-primary btn-xl" id = "wages_button" role = "button">Wages</a>
			<a href = "../savings/savings" class = "btn btn-primary btn-xl" id = "savings_button" role = "button">Savings</a>
			<a href = "../help/help" class = "btn btn-primary" id = "help_button" role = "button">Help</a>
		</div>
		<script src = "../javascripts/popup.js"></script>
	</body>

</html