<!DOCTYPE html>

<html>

	<head>
		<link href = "../stylesheets/style.css" rel = "stylesheet"/>
		<link href = "../stylesheets/popup_stylesheet.css" rel = "stylesheet"/>
		<link href = "../stylesheets/styleTwo.css" rel = "stylesheet"/>
		<!-- Google Analytics -->
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-135652732-1', 'auto');
		ga('send', 'pageview');
		</script>
		<!-- End Google Analytics -->
	</head>

	<body>
		<div class = "w3-top">
			<form action = '/users/logout' method = 'post'>
				<button class = "w3-button w3-large w3-teal">Log Out</button>
			</form>
			<a href = "../help/help" class = "" id = "help_button" role = "button"><button class = "w3-button w3-large w3-teal w3-display-topright">Help</button></a>
		</div>
		<div class="w3-content" style="max-width:1100px;margin-top:50px;margin-bottom:60px">
			<div class = "w3-panel w3-center">
				<h1 class = ""  id = "top_spacing">Savings Goals</h1>
				<div class = "w3-container trips scroll-area">
					{{#each savings}}
					{{#if savings_goal}}<p>Goal:{{savings_goal}}Cost:{{cost}}Deadline:{{deadline}}</p>{{/if}}
					{{#if savings_goal}}<form action = '/savings/deleteGoal' method = 'post'>
						<label for="delete_purchase"><b></b></label>
						<input type = "hidden" name = 'id' value = "{{id}}">
						<input type = 'submit' value = 'Delete Entry'>
					</form>{{/if}}
					{{/each}}
				</div>
			</div>
		</div>

		<div class="form-popup" id="myForm">
		  <form  class="form-container" action = "/savings/addGoal" method = "post">

		    <label for="new_goal"><b>Name of New Goal</b></label>
		    <input type="text" placeholder="Enter New Goal" name="new_goal" required>

		    <label for="cost"><b>Cost</b></label>
		    <input type="text" placeholder="Enter Cost" name="cost" required>

		    <label for="deadline"><b>deadline</b></label>
		    <input type="text" placeholder="Enter Deadline" name="deadline" required>

		    <button type="submit" class="btn">Add Goal</button>
		    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
		  </form>
		</div>
		<div class = "w3-bottom">
			<div class = "w3-center log-info">
				<button type = "button" id = "add-goal" class="open-button btn-block" onclick="openForm()">Add Goal</button>
			</div>
			<div class = "w3-row w3-light-green w3-padding-large menu">
				<div class = "w3-third s12">
					<a href = "../wages/wages" class = "w3-btn w3-block" id = "home_button" role = "button">Wages</a>
				</div>
				<div class = "w3-third s12">
					<a href = "../users/home" class = "w3-btn w3-block" id = "wages_button" role = "button">Home</a>
				</div>
				<div class = "w3-third s12">
					<a href = "../savings/savings" class = "w3-btn w3-block" id = "savings_button" role = "button">Goals</a>
				</div>
			</div>
		</div>
		<script src = "../javascripts/popup.js"></script>
	</body>
</html